<!DOCTYPE html>

<title>New Evenement</title>

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenemennt_front/_form.html.twig') }}

    <a href="{{ path('app_evenemennt_front_index') }}">back to list</a>
{% endblock %}
